<main>
  <div class='card p-5'>
    <p id='test'>
      Hi there, you dick!
    </p>
    <p id='test'>
      Hi there, you dick!
    </p>
    <p id='test'>
      Hi there, you dick!
    </p>
  </div>
  <span>Олебитка!</span>
</main>